body{
    background-color: black;
}
#Text{
    display:flex;
    justify-content:center;
}
#Gallery{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:start;
    position:relative;
    /* background-color:rgb(63, 63, 63);
    background-image: url("/media/comfortAndFlames/orangeGlowSlow.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: space-around;
}
#Gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/media/comfortAndFlames/orangeGlowSlow.gif');
    background-size: cover;
    opacity: 0.2; /* Adjust the opacity value (0.0 to 1.0) */
    z-index: -1; /* Puts the pseudo-element behind the main content */
  }
#TopBar{
    display:flex;
    align-items:center;
    justify-content: center;
    border-bottom: 10pt double black;
    background-color:white;
 }
 #TopBar a{
    width:15%;
    margin:2%;
    position:absolute;
    left:1%;
 }
 #Back{
    width:100%;
    margin:2%;
}
#ComfortandFlamesTitle{
    width:30%;
    height:fit-content;

}
#ComfortandFlamesTitle img{
    width:100%;
}
#FruitPaintingHolder{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.large{
    width:70%;
}
.medium{
    width:45%;
}
.small{
    width:25%;
}
.gallery-image{
    padding:1%;
    border: 5pt solid black;
    margin:1%;
    background-color:rgb(255, 252, 248);
}