body{
    background-color:rgb(252, 250, 226);
}
.transparent{
    opacity:0.75;
}
.drawing-icon-container{
    display:flex;
    background-image:url('/media/miscDrawings/selectorBlob.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 50%;
    overflow:hidden;
}
#Back{
    width:10%;
    height:8%;
    position:absolute;
    top:2%;
    left:1%;
    background-image:url('/media/miscDrawings/Back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color:transparent;
}
#Back:hover{
    background-image:url('/media/miscDrawings/Back2.png');
}
#TopBar{
    width:85%;
    /* float:right; */
    display:flex;
    justify-content:space-evenly;
    height:8%;
    padding-top:1%;
    flex-wrap: nowrap;
    padding-bottom:0.5%;
    margin-left:12%;
    align-items: center;
    /* margin-right:5%; */
}
#BottomBar{
    width:95%;
    display:flex;
    height:8%;
    justify-content:space-evenly;
    padding-bottom:1%;
    flex-wrap: nowrap;
    padding-top:0.5%;
    margin-left:2.5%;
    margin-right:2.5%;
    align-items: center;
    flex-direction: row-reverse;
}
#MiddleBlock{
    height:76%;
    display:flex;
    width:96%;
    padding-left:2%;
    padding-right:2%;
    margin:0.5% 0%;
}
#LeftBar{
    align-items: center;
    width:5%;
    display:flex;
    height:100%;
    justify-content:space-evenly;
    flex-direction:column-reverse;
    flex-wrap: nowrap;
}
#CenterSpace{
width:90%;
/* margin:1%; */
display:flex;
height:100%;
background-color:white;
}
#ControlsBlock{
    background-color:#e3e0f5;
    width:10%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#Counter{
    height:100%;
    display:flex;
    width:100%;
    justify-content:flex-start;
}
#Counter h1{
    padding:2%;
    font-size:xx-large;
}
#ArrowsContainer{
    width:100%;
    display:flex;
}
#ArrowsContainer img{
    width:50%;
}
/* #Title{
    max-width:80%;
    height:fit-content;
    max-height:100%;
    align-self:center;
} */
#PresentationSpace{
    display:flex;
    width:100%;
    max-height:100%;
    justify-content:center;
    flex-direction:column;
    padding-right:0.5%
}
#MainDrawing{
    max-width:100%;
    height:auto;
    max-height:96.2%;
    align-self:center;
    /* border:1px solid black; */
}
#InfoLine{
    align-self:flex-end;
    font-family:"Handwritten";
}
#ArtTitle{
    font-style:italic;
}
#RightBar{
    align-items: center;
    width:5%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    flex-direction:column;
    flex-wrap: nowrap;
}
#TopBar img{
    display:flex;
    width:100%;
    height:100%;
    /* border-bottom: 2pt black dotted; */
}
#BottomBar img{
    display:flex;
    width:100%;
    height:100%;
    /* border-top: 2pt black dotted; */
}
#RightBar img{
    display:flex;
    height:auto;
    width: 100%;
    /* border-left:2pt black dotted; */
}
#LeftBar img{
    display:flex;
    height:auto;
    width: 100%;
    /* border-right: 2pt black dotted; */
}