@font-face {
    font-family: 'GaramondSmallCaps';
    src: url("/media/fonts/EbGaramondSmallcaps12Regular-eRBl.otf");
}
@font-face {
    font-family: 'Jetlag';
    src: url("/media/fonts/JetlagSlow-dMn6.otf");
}
@font-face {
    font-family: 'Handwritten';
    src: url("/media/fonts/KgPartOfMe-1R4Z.ttf");
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translateX(50%); /* Radius of the circle */
  }
  100% {
    transform: rotate(360deg) translateX(50%); /* Radius of the circle */
  }
}
html{
    box-sizing:border-box;
}
a{
    text-decoration:none !important;
}
html, body{
    height:100%;
    margin:0;
}
h1{
    font-size:large;
    color:#666699;
    font-family:'GaramondSmallCaps', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:0 5%;
}
.full-width{
    width:100%;
}
.align-right{
    float:right;
}
.underline{
    text-decoration: underline;
}
.clickable{
    cursor: pointer;
}
.hover-twitch:hover{
    transform:rotate(10deg);
}
#Banner{
    height:8%;
}
#Banner img{
    width:100%;
    height:100%;
}
#HomePage{
    width:100%;
    height:95%;
    display:block;
    background-image: url("/media/homepage/homepagebckg2Web.jpg");
    background-color:white;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
}
#LoveWinsBackground{
    display:none;
    position: absolute;
    /*background-color: rgba(255, 145, 0, 0.8);*/
    z-index:3;
    width:100%;
    height:100%;
}
#LoveWinsContainer{
    display:block;
    z-index:3;
    position:absolute;
    width:90%;
    height:80%;
    margin:4% 5% 15% 5%;
    background-image: url("/media/homepage/DonQuixoteStreetFighterOptimized.gif");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
#LoveWinsBorder{
    display:block;
    z-index:2;
    position:absolute;
    width:92%;
    height:84%;
    margin:3% 5% 15% 4%;
    background-color:black;
}
#CloseGif{
    background-color:#666699;
    width:fit-content;
    border-radius:10%;
    padding:2%;
    color:white;
    margin-top:-2%;
    margin-left:3%;
}
#NextGif{
    background-image: url("/media/miscDrawings/RightArrow.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    width:9%;
    height: 9%;
    float:right;
    bottom:-75%;
    background-color: black;
}
#HeartContainer{
  width: 10%; /* Adjust as needed */
  height: 10%; /* Adjust as needed */
  position: absolute; /* Important for absolute positioning of the image */
  border-radius: 50%; /* Makes the container circular */
  left:5%;
  top:5%;
}
#Heart{
  position: absolute;
  width: 70%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the image */
  animation: circle 5s linear infinite; /* Apply the animation */
}
#HomeTopHalf{
    height:50%;
}
#Menu{
    max-width:73%;
    height:100%;
    background-image:url("/media/homepage/plantshelfLine.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position: relative;
    z-index:2;
}
#MenuIcons{
    display:flex;
    height:45%;
    align-items: center;
}
#Menu img{
    width:100%;
    height:auto;
}
#MenuLabels{
    display:flex;
    height:50%;
    align-items:flex-start;
}
#MenuLabels img{
    margin-top:-2%;
}
#HomeBottomHalf{
    position:absolute;
    top:63%;
    background-image:url("/media/homepage/grass.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
#Avatar{
    width: 75%;
    margin-left:5%;
    margin-right:20%;
    margin-top:-10%;
    /* position:fixed; */
}
#Footer{
    height: 30%;
    display:flex;
    margin-top:-6%;
    /* margin-right:5%; */
    width:100%;
    justify-content: space-between;
}
#Name{
    width:20%;
    margin-left:8%;
    align-self:center;
}
#BioLink{
    align-self:center;
    width:6%;
    margin-right:8%;
    background-color:white;
    border-radius:10%;
    padding:4pt;
    border: 2pt solid black;
}
footer{
    background-color:#e8e8e8;
    color:black;
    font-family:'Courier New', Courier, monospace;
    height:2%;
    padding:1%;
}
footer h3{
    margin:0;
    font-size:0.8em;
}
